*{  width: 1000px;
    margin:0 auto;
    padding:0px;
    list-style: none;
}

header{
    width:1000px;
    height:180px;
    background-image: url(./img/thpthoangvanthu.png);
}
marquee{
    line-height: 30px;
    background-color: rgb(235, 207, 225);
    color: rgb(34, 32, 32);
    font-size: 20px;
    font-weight: bold;
}
table{
    border-collapse: collapse;
}
.h1{
    width: 400px;
}
.h1 label{
    font-size: 20px;
    font-weight: bold;
    padding: 17px;
}
.h1 img{
    width: 175px;
    height: 175px;
}
.h2{
    width: 600px;
    
}  

.h2 img{
    width: 175px;
    height: 175px;
}
.h2 p{
    font-size: 18px;
    padding: 20px;
}
.h2 label{
    
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.p img{
    width: 175px;
    height: 175px;
    margin-right: 20px ;
}
.p p{
    font-size: 18px;
    font-weight: bold;
    padding: 17px;
    
}

